# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/c62gtwye66po/public_html"
PassengerBaseURI "/"
PassengerPython "/home/c62gtwye66po/virtualenv/public_html/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Configuração para garantir que o Python assuma tudo
Options +ExecCGI
AddHandler cgi-script .py


