# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/c62gtwye66po/public_html"
PassengerBaseURI "/"
PassengerPython "/home/c62gtwye66po/virtualenv/public_html/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Configuração para garantir que o Python assuma tudo
Options +ExecCGI
AddHandler cgi-script .py

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Se NÃO for arquivo real (imagem, css, js), manda pro Python
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ http://127.0.0.1:5000/$1 [P,L]
</IfModule>
